<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username"><br><br>
        <textarea placeholder="write your post" name="content" rows="10" cols="35"></textarea><br><!--input ki jagah textarea isliye liya kyunki ismein zyada jagah hoti hai likhne ki-->
        <button>Submit post</button>
    </form>
</body>
</html>